{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color: #A7F3D0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mari Belanja</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Penjualan</a>
          </li>
        </ul>
        <a class="d-flex mr-4" href="#">log in as {{name}}</a>
        <form class="d-flex" action="{% url 'main:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="form" onsubmit="return false;">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="name" class="col-form-label">Name:</label>
                          <input type="text" class="form-control" id="name" name="name"></input>
                      </div>
                      <div class="mb-3">
                          <label for="price" class="col-form-label">Price:</label>
                          <input type="number" class="form-control" id="price" name="price"></input>
                      </div>
                      <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                      <div class="mb-3">
                          <label for="description" class="col-form-label">Description:</label>
                          <textarea class="form-control" id="description" name="description"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
              </div>
          </div>
      </div>
  </div>
  
  <br />

  <div id="product_cards" class="all-product d-flex flex-wrap align-content-start gap-4"></div>


  <button type="button" class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-green-600 transition duration-300" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>

  <script>
      async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

      async function refreshProducts() {
        document.getElementById("product_cards").innerHTML = ""
        const products = await getProducts()
        let htmlString = `
        <div class="container mx-auto mt-4">
            <h1 class="text-3xl font-semibold">Welcome {{name}}!</h1>
            <h4 class="mt-4">Products: ${products.length}</h4>
          </div>
        `
        products.forEach((item) => {
            htmlString += `\n
            <div class="card" style="width: 15 rem; height: 220px; background-color: #96CCA8; padding: 20px; margin: 20px; border: 1px solid #000;">
                <div class="card-body">
                  <h4 class="card-title" style="background-color: white; color: black; padding: 5px; border-radius: 10px; display: inline-block;">${item.fields.name}</h4>
                    <p class="card-harga">Rp. ${item.fields.price}</p>
                    <p class="card-stok">
                      <a href="sub_product/${item.pk}">
                            <button class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-blue-600 transition duration-300">-</button>
                        </a>
                        ${item.fields.amount}
                        <a href="add_product/${item.pk}">
                            <button class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-blue-600 transition duration-300">+</button>
                        </a> 
                     </p>
                    <p class="card-text">${item.fields.description}</p>
                    <a href='edit-product/${item.pk}'><button class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-green-600 transition duration-300">Edit</button></a>
                    <a href='delete_product/${item.pk}'><button class="bg-black text-white px-2 py-1 rounded-lg hover:bg-red-600 transition duration-300">Delete</button></a>
                </div>
            </div>` 
        })

        document.getElementById("product_cards").innerHTML = htmlString
    }
      refreshProducts()

      function addProduct() {
          fetch("{% url 'main:add_product_ajax' %}", {
              method: "POST",
              body: new FormData(document.querySelector('#form'))
          }).then(refreshProducts)

          document.getElementById("form").reset()
          return false
      }

      function deleteproduct(id){
        fetch("{% url 'main:delete_product_ajax ${id}'}", {
              method: "POST",
              body: new FormData(document.querySelector('#form'))
          }).then(refreshProducts)
          return false

      }
      refreshProducts()
      document.getElementById("button_add").onclick = addProduct
  </script>

    <h5 class="mt-4">Sesi terakhir login: {{ last_login }}</h5>
</div>
{% endblock content %}